APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:xYlGazEQoFn/cSSOTebA/gqRtp5ZjfZ3q3ywjmTa60o=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_EMAIL_DEV="vitor.pagani.92@gmail.com"

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
#DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mail.ita.locamail.com.br
MAIL_PORT=587 
MAIL_USERNAME=administrador@comvex.com.br
MAIL_PASSWORD=notifica@2018
MAIL_ENCRYPTION=
MAIL_FROM_NAME="DoctorHoje"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

COMTELE_API_KEY=91caf268-5c29-420a-b55c-1ad15cf12e43
SENDGRID_API_KEY=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

CIELO_MERCHANT_ID_PRODUCTION="38846d5d-c46a-4474-a35f-35fbb2d0a643"
CIELO_MERCHANT_KEY_PRODUCTION="GCD3g5Ug7VCDn1FiUUgeSO4fBnvrR4706pgnvzkJ"
CIELO_URL_PRODUCTION=https://api.cieloecommerce.cielo.com.br

CIELO_MERCHANT_ID_DESENV="18ec9897-282e-41f5-bb54-d402234da877"
CIELO_MERCHANT_KEY_DESENV="HUCQNSAZUACBHORFLTRMMFNHKJAARPAPEKJXWIAP"
CIELO_URL_DESENV=https://apisandbox.cieloecommerce.cielo.com.br

CIELO_ENV="sandbox"
