.logo-doutorhj {
	width: 44px;
}

.logo {
    line-height: 70px;
}

.doutorhj-color1 {
	color: #1F71B8;
}

.doutorhj-color2 {
	color: #BE1823;
}

.cvx-link-login:hover {
	color: #1F71B8 !important;
	text-decoration: underline;
}

.cvx-list-inline li {
	color: #ccc !important; 
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

a.jstree-anchor i.ti-check-box {
	color: #00b19d;
}

a.jstree-anchor i.ti-na {
	color: #ef5350;
}

.btn-danger {
    color: #fff ! important;
}

.table-doutorhj tr th,
.table-doutorhj tr td {
    text-align: center;
}

.table-doutorhj th:nth-child(1),
.table-doutorhj th:nth-child(2),
.table-doutorhj td:nth-child(1),
.table-doutorhj td:nth-child(2) {
    text-align: left;
}

.table-doutorhj > tbody > tr > td, .table-doutorhj > tbody > tr > th, .table-doutorhj > tfoot > tr > td, .table-doutorhj > tfoot > tr > th, .table-doutorhj > thead > tr > td, .table-doutorhj > thead > tr > th {
    border-top: 1px solid #dee2e6;
}

.table-doutorhj td, .table-doutorhj th {
    padding: 0.25rem;
}

.table-doutorhj tr th:first-child {
	width: 60px;
}

.table-doutorhj tr th:last-child {
	width: 150px;
}

.ms-container .ms-list {
    border: 1px solid #cfcfcf;
}

.ms-container {
    width: 100%;
}

.table-doutorhj tr td:last-child {
	text-align: center;
}

.table-doutorhj tr th a {
	color: #3bafda;
}

.table-doutorhj tr th a.btn-secondary {
    color: #fff;
}

.view-doutorhj > tbody > tr > td, .view-doutorhj > tbody > tr > th, .view-doutorhj > tfoot > tr > td, .view-doutorhj > tfoot > tr > th, .view-doutorhj > thead > tr > td, .view-doutorhj > thead > tr > th {
    border-top: 1px solid #dee2e6;
}

.page-loader-variant-1 {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 25px;
    z-index: 9999999;
    background: #fff;
    transition: 1s all ease;
}

.page-loader-variant-1 .spinner {
  height: 56px;
  width: 56px;
  background: url("../libs/home-template/img/633328.png") no-repeat transparent;
  background-position: -2240px 0;
  animation: 1.5s sprite-animation steps(40) infinite;
  display: inline-block;
}

.page-loader-variant-1.loaded {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.cvx-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.breadcrumb-item a {
	color: #3bafda;
}

select[readonly], input[readonly] {
  background: #ddd;
  cursor: not-allowed;
  pointer-events: none;
  touch-action: none;
}

.cvx-pagination .pagination {
	-webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.pagination li a {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #2a3142;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

.pagination li {
    margin-left: 5px;
    display: inline-block;
    float: left;
}

.pagination li a,
.pagination li span {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.pagination li span {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

.pagination li.active span {
    color: #fff;
    background-color: #3bafda;
    border: 1px solid #3bafda;
}